<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garbage Genius Dashboard</title>
  </head>
  <body>
    <!-- Banner -->
    <div class="banner">
      <h1>Garbage Genius</h1>
      <div class="button-group">
        <button>Garbage Truck Map</button>
        <button>ETA Analysis</button>
        <button onclick="window.location.href='<%= edit_user_path(current_user) %>'">Change Settings</button>
      <div class="button-group">
</div>

      </div>
    </div>
    <!-- Bar Banner -->
    <div class="bar-banner">
      <p>Next Garbage Date/Time/Type: <!-- Form goes here --></p>
      <p>What time did the truck arrive today? <!-- Dropdown goes here --></p>
    </div>
    <!-- Calendar -->
    <div class="calendar">
      <%= month_calendar(events: @spot_deets, attribute: :date) do |date, spot_deets| %>
        <%= date %>
        <% spot_deets.each do |spot_deet| %>
          <div class="spot_deet">
            <p><%= spot_deet.collection_type %></p>
            <i class="fa-solid fa-bottle-water"></i>
            <i class="fa-solid fa-bottle-water fa-beat"></i>
            <i class="fa-solid fa-bottle-water fa-beat-fade"></i>
            <i class="fa-solid fa-bottle-water fa-bounce"></i>
            <i class="fa-solid fa-bottle-water fa-fade"></i>
            <i class="fa-solid fa-bottle-water fa-flip"></i>
            <i class="fa-solid fa-bottle-water fa-shake"></i>
            <i class="fa-solid fa-bottle-water fa-spin"></i>
            <i class="fa-solid fa-bottle-water fa-spin fa-spin-reverse"></i>
            <i class="fa-solid fa-bottle-water fa-spin-pulse"></i>
            <i class="fa-solid fa-fire"></i>
            <i class="fa-solid fa-fire fa-beat"></i>
            <i class="fa-solid fa-fire fa-beat-fade"></i>
            <i class="fa-solid fa-fire fa-bounce"></i>
            <i class="fa-solid fa-fire fa-fade"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Alert Settings -->
      <div class="alert-settings">
        <h2>Current Alert Settings</h2>
        <div class="alert-item">
          <p>Alert 1: Day Before Pickup</p>
          <p><!-- Time goes here --></p>
        </div>
        <div class="alert-item">
          <p>Alert 2: Day of Pickup</p>
          <p><!-- Time goes here --></p>
        </div>
      </div>
      <!-- Change Settings Button -->
      <div class="change-settings-btn">
       <button onclick="window.location.href='<%= edit_user_path(current_user) %>'">Change Settings</button>
      </div>
      <%=  @user_spot_id %>
    </body>
  </html>
