<div class="button-group mr-2 mt-2">
  <%= link_to "Full calender ", calendar_path, class: "dash-button" %>
  <%= link_to "Map", spots_path(current_user), class: "dash-button" %>
  <%= link_to "Settings", edit_user_path(current_user), class: "dash-button" %>
</div>
<div class = uppper-section>
  <div class="calendar mt-3">


    <%= calendar(number_of_days: 5, start_date_param: :my_date, events: @spot_details, attribute: :date) do |date, spot_details| %>
      <div class="spot_detail d-flex flex-column justify-content-between h-100">
        <div><%= date.strftime("%b %-d")  %></div>
        <% spot_details.each do |spot_detail| %>

          <div>
            <% if spot_detail.collection_type == "C" %>
              <h3><%= 'Combustible' %></h3>
              <div class="text-center">
                <i class="fa-solid fa-fire <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
              </div>
            <% elsif spot_detail.collection_type == "GCM"%>
              <h3><%= 'Glass, Ceramic, Metallic' %></h3>
              <div class="icons d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-champagne-glasses <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-faucet <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-mug-saucer<%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
              </div>
            <% elsif spot_detail.collection_type == "RP"%>
              <h3><%= 'Recyclable plastics' %></h3>
              <div class="text-center">
                <i class="fa-solid fa-recycle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
              </div>
            <% elsif spot_detail.collection_type == "UPBBC"%>
              <h3><%= 'Used paper, Plastic bottles, Bottles, Cans' %></h3>
              <div class="icons d-flex justify-content-between">
                <div>
                  <i class="fa-regular fa-newspaper <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-bottle-water <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-wine-bottle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
              </div>
            <% end %>
          </div>
          <div class="box-bottom">
            <p><span class="pill-box color-white"><%= spot_detail.scheduled_time.strftime('%H:%M') %></span>: Scheduled</p>
            <p><span class="pill-box"><%= spot_detail.average_pickup_time.strftime('%H:%M') %></span>: Reported by others</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class = "lower-left col-6">
      <div class="alert-settings">
        <h2>Alerts</h2>

        <div class="alert-item">
          <%= simple_form_for current_user do |f| %>
            <label for="appt", class="fa-solid fa-moon"> Night before:</label>
            <% if current_user.evening_alert_at.present? %>
              <input type="time" id="appt" name="user[evening_alert_at]" required value="<%= current_user.evening_alert_at.strftime("%H:%M")%>"/>
            <% else %>
              <p>No evening alert set</p>
            <% end %>
            <label for="appt", class="fa-regular fa-sun"> Morning:</label>
            <% if current_user.morning_alert_at.present? %>
              <input type="time" id="appt" name="user[morning_alert_at]" required value="<%= current_user.morning_alert_at.strftime("%H:%M")%>"/>
            <% else %>
              <p>No evening alert set</p>
            <% end %>
            <%= f.submit "Set Alarms", class:"update-user"%>
          <% end %>
          <p></p>
          <p></p>
          <div class="report-collection">
            <h2>Report Collection Time</h2>
            <div class="report-item">
              <%= simple_form_for current_user do |f| %>
                <% if current_user.evening_alert_at.present? %>
                  <input type="time" id="appt" name="user[evening_alert_at]" required value="<%= current_user.evening_alert_at.strftime("%H:%M")%>"/>
                <% else %>
                  <p>No evening alert set</p>
                <% end %>
                <%= f.submit "Report", class:"update-user"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class = "lower-right col-6">

      <h2>My Requests</h2>
      <% @asker_help_requests.each do |asker_help_request| %>
        <div class="request">
          <div class="request-status">
            <p><%=  asker_help_request.request_status %></p>
          </div>
          <div class="request-info">
            <div>
              <p><%=  asker_help_request.spot_date.date.strftime('%a') %></p>
            </div>
            <div>
              <p><%=  asker_help_request.spot_date.date.strftime("%b %-d") %></p>
            </div>
            <div>
              <% if asker_help_request.spot_date.collection_type == "C" %>
                <div class="text-center">
                  <i class="fa-solid fa-fire fa-2xl"></i>
                </div>
              <% elsif asker_help_request.spot_date.collection_type == "GCM"%>
                <div class="icons d-flex justify-content-between">
                  <div>
                    <i class="fa-solid fa-champagne-glasses fa-2xl"></i>
                  </div>
                  <div>
                    <i class="fa-solid fa-faucet fa-2xl"></i>
                  </div>
                  <div>
                    <i class="fa-solid fa-mug-saucerfa-2xl"></i>
                  </div>
                </div>
              <% elsif asker_help_request.spot_date.collection_type == "RP"%>
                <div class="text-center">
                  <i class="fa-solid fa-recycle fa-2xl"></i>
                </div>
              <% elsif asker_help_request.spot_date.collection_type == "UPBBC"%>
                <div class="icons d-flex justify-content-between">
                  <div>
                    <i class="fa-regular fa-newspaper fa-2xl"></i>
                  </div>
                  <div>
                    <i class="fa-solid fa-bottle-water fa-2xl"></i>
                  </div>
                  <div>
                    <i class="fa-solid fa-wine-bottle fa-2xl"></i>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
