<div class="banner">
  <div class="button-group text-end">
    <%#= link_to "Garbage Truck Map", "#", class: "btn btn-ghost" %>
    <%# <button>ETA Analysis</button> %>
    <%# <button onclick="window.location.href='= edit_user_path(current_user)'">Change Settings</button> %>
    <%= link_to "Change Settings", edit_user_path(current_user), class: "btn btn-ghost" %>
    <%= link_to "map", spots_path(current_user), class: "btn btn-ghost" %>
    <div class="button-group">
    </div>
  </div>
  <!-- Bar Banner -->
  <%# <div class="bar-banner">
    <p>Next Garbage Date/Time/Type: <!-- Form goes here --></p>
    <p>What time did the truck arrive today? <!-- Dropdown goes here --></p>
  </div> %>
  <!-- Calendar -->
  <div class="calendar mt-3">
    <%= month_calendar(events: @spot_details, attribute: :date) do |date, spot_details| %>
      <%= date.strftime("%b %-d")  %>
      <p></p>
      <% if date == Date.today  %>
        <h2>Today</h2>
      <% end  %>
      <% spot_details.each do |spot_detail| %>
        <div class="spot_detail">
          <% if spot_detail.collection_type == "C" %>
            <p><%= spot_detail.scheduled_time.strftime('%H:%M') %></p>
            <p><%= 'Combustible' %></p>
            <i class="fa-solid fa-fire <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
          <% elsif spot_detail.collection_type == "GCM"%>
            <p><%= spot_detail.scheduled_time.strftime('%H:%M') %></p>
            <p><%= 'Glass, Ceramic and Metallic' %></p>
            <i class="fa-solid fa-champagne-glasses <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
            <i class="fa-solid fa-mug-saucer <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
            <i class="fa-solid fa-faucet <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
            <p></p>
          <% elsif spot_detail.collection_type == "RP"%>
            <p><%= spot_detail.scheduled_time.strftime('%H:%M') %></p>
            <p><%= 'Recyclable plastics' %></p>
            <i class="fa-solid fa-recycle fa-2xl"></i>
          <% elsif spot_detail.collection_type == "UPBBC"%>
            <p><%= spot_detail.scheduled_time.strftime('%H:%M') %></p>
            <p><%= 'Used paper, Plastic bottles, Bottles, Cans' %></p>
            <i class="fa-regular fa-newspaper <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
            <i class="fa-solid fa-bottle-water <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
            <i class="fa-solid fa-wine-bottle <%= date == Date.today ? "fa-bounce " : ""%><%= date == (Date.today + 1) ? "fa-beat " : ""%>fa-2xl"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
<!-- Alert Settings -->
<div class="alert-settings">
  <h2>Current Alert Settings</h2>
  <div class="alert-item">
    <p>Alert 1: Day Before Pickup</p>
    <% if current_user.evening_alert != nil && current_user.morning_alert !=  nil %>
      <p> <%= current_user.evening_alert_at.strftime("%I:%M %p") %></p>
    </div>
    <div class="alert-item">
      <p>Alert 2: Day of Pickup</p>
      <p> <%= current_user.morning_alert_at.strftime("%I:%M %p") %></p>
    </div>
  <% else %>
  <% end %>
</div>
<!-- Change Settings Button -->
<div class="change-settings-btn">
  <button onclick="window.location.href='<%= edit_user_path(current_user) %>'">Change Settings</button>
</div>
</body>
</html>
