<div class="button-group mr-2 mt-2">
  <%= link_to "Full calender ", spots_path(current_user), class: "dash-button" %>
  <%= link_to "Map", spots_path(current_user), class: "dash-button" %>
  <%= link_to "Settings", edit_user_path(current_user), class: "dash-button" %>
</div>
<div class="calendar mt-3">
  <%= month_calendar(number_of_days: 14, start_date_param: :my_date, events: @spot_details, attribute: :date) do |date, spot_details| %>
    <%= date.strftime("%b %-d")  %>
    <p></p>
    <% if date == Date.today  %>
      <h2>Today</h2>
    <% end  %>
    <% spot_details.each do |spot_detail| %>
      <div class="spot_detail">
        <% if spot_detail.collection_type == "C" %>
          <p><%= spot_detail.scheduled_time.strftime('%H:%M') %>: Scheduled</p>
          <p><%= spot_detail.average_pickup_time.strftime('%H:%M') %>: Reported by others</p>
          <p></p>
          <i class="fa-solid fa-fire <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <p></p>
          <p><%= 'Combustible' %></p>
        <% elsif spot_detail.collection_type == "GCM"%>
          <p><%= spot_detail.scheduled_time.strftime('%H:%M') %>: Scheduled</p>
          <p><%= spot_detail.average_pickup_time.strftime('%H:%M') %>: Reported by others</p>
          <p></p>
          <i class="fa-solid fa-champagne-glasses <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>>
          <i class="fa-solid fa-mug-saucer <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>>
          <i class="fa-solid fa-faucet <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <p></p>
          <p><%= 'Glass, Ceramic and Metallic' %></p>
          <p></p>
        <% elsif spot_detail.collection_type == "RP"%>
          <p><%= spot_detail.scheduled_time.strftime('%H:%M') %>: Scheduled</p>
          <p><%= spot_detail.average_pickup_time.strftime('%H:%M') %>: Reported by others</p>
          <p></p>
          <i class="fa-solid fa-recycle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <p></p>
          <p><%= 'Recyclable plastics' %></p>
        <% elsif spot_detail.collection_type == "UPBBC"%>
          <p><%= spot_detail.scheduled_time.strftime('%H:%M') %>: Scheduled</p>
          <p><%= spot_detail.average_pickup_time.strftime('%H:%M') %>: Reported by others</p>
          <p></p>
          <i class="fa-regular fa-newspaper <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <i class="fa-solid fa-bottle-water <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <i class="fa-solid fa-wine-bottle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
          <p></p>
          <p><%= 'Used paper, Plastic bottles, Bottles, Cans' %></p>
        <% end %>
        <% if HelpRequest.find_by(asker: current_user , spot_date: spot_detail ) %>
          Already made request
        <% else %>
          <%= simple_form_for([spot_detail, @help_request]) do |f| %>
            <%= f.submit  "ask request"%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</body>
</html>
<!-- Alert Settings -->
<div class="alert-settings">
  <h2>Notifications</h2>
  <div class="alert-item">
    <%= simple_form_for current_user do |f| %>
      <label for="appt", class="fa-solid fa-moon"> Night before:</label>
      <% if current_user.evening_alert_at.present? %>
        <input type="time" id="appt" name="user[evening_alert_at]" required value="<%= current_user.evening_alert_at.strftime("%H:%M")%>"/>
      <% else %>
        <p>No evening alert set</p>
      <% end %>
      <label for="appt", class="fa-regular fa-sun"> Morning:</label>
      <% if current_user.morning_alert_at.present? %>
        <input type="time" id="appt" name="user[morning_alert_at]" required value="<%= current_user.morning_alert_at.strftime("%H:%M")%>"/>
      <% else %>
        <div class="bar-banner">
          <p>No upcoming garbage collection scheduled.</p>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
