<div class="button-group mr-2 mt-2">
  <%= link_to "Full calender ", calendar_path, class: "dash-button" %>
  <%= link_to "Map", spots_path(current_user), class: "dash-button" %>
  <%= link_to "Settings", edit_user_path(current_user), class: "dash-button" %>
</div>
<div class = uppper-section>
  <div class="calendar mt-3">

    
    <%= calendar(number_of_days: 7, start_date_param: :my_date, events: @spot_details, attribute: :date) do |date, spot_details| %>

      <% spot_details.each do |spot_detail| %>
        <div class="spot_detail d-flex flex-column justify-content-between h-100">
          <div>
            <% if spot_detail.collection_type == "C" %>
              <h3><%= 'Combustible' %></h3>
              <div class="text-center">
                <i class="fa-solid fa-fire <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
              </div>
            <% elsif spot_detail.collection_type == "GCM"%>
              <h3><%= 'Glass, Ceramic, Metallic' %></h3>
              <div class="icons d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-champagne-glasses <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-faucet <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-mug-saucer<%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
              </div>
            <% elsif spot_detail.collection_type == "RP"%>
              <h3><%= 'Recyclable plastics' %></h3>
              <div class="text-center">
                <i class="fa-solid fa-recycle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
              </div>
            <% elsif spot_detail.collection_type == "UPBBC"%>
              <h3><%= 'Used paper, Plastic bottles, Bottles, Cans' %></h3>
              <div class="icons d-flex justify-content-between">
                <div>
                  <i class="fa-regular fa-newspaper <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-bottle-water <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
                <div>
                  <i class="fa-solid fa-wine-bottle <%= date == Date.today ? "fa-beat " : ""%> <%= date == (Date.today + 1) ? "fa-bounce " : ""%>fa-2xl"></i>
                </div>
              </div>
            <% end %>
          </div>
          <div class="box-bottom">
            <p><%= spot_detail.scheduled_time.strftime('%H:%M') %>: Scheduled</p>
            <p><%= spot_detail.average_pickup_time.strftime('%H:%M') %>: Reported by others</p>
            <% if date > Date.today  %>
              <% if HelpRequest.find_by(asker: current_user , spot_date: spot_detail ) %>
                <p class="pending-text">Request pending...</p>
              <% else %>
                <%= simple_form_for([spot_detail, @help_request]) do |f| %>
                  <%= f.submit  "Request Help", class:"request-submit"%>
                <% end  %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="alert-settings">
        <%# <h2>Notifications</h2> %>

        <h2>Alerts</h2>

        <div class="alert-item">
          <%= simple_form_for current_user do |f| %>
            <label for="appt", class="fa-solid fa-moon"> Night before:</label>
            <% if current_user.evening_alert_at.present? %>
              <input type="time" id="appt" name="user[evening_alert_at]" required value="<%= current_user.evening_alert_at.strftime("%H:%M")%>"/>
            <% else %>
              <p>No evening alert set</p>
            <% end %>
            <label for="appt", class="fa-regular fa-sun"> Morning:</label>
            <% if current_user.morning_alert_at.present? %>
              <input type="time" id="appt" name="user[morning_alert_at]" required value="<%= current_user.morning_alert_at.strftime("%H:%M")%>"/>
            <% else %>
              <p>No evening alert set</p>
            <% end %>
            <%= f.submit class:"update-user"%>
          <% end %>
        </div>
      </div>
      <div class="report-collection">
        <h2>Today's Collection Time</h2>
        <p>Junk Text</p>
        <p>Junk Text</p>
      </div>
    </div>
    <div class = "lower-right col-6">
      <h2>My Requests</h2>
      <div class="request">
        <% @asker_help_requests.each do |asker_help_request| %>
          <p><%=  asker_help_request.spot_date.date %></p>
          <p><%=  asker_help_request.spot_date.collection_type %></p>
          <p><%=  asker_help_request.request_status %></p>
          <p><%=  asker_help_request.helper&.name %></p>
          <!-- "&"" will only show if only if the class is not nil -->
          <p>-----------------</p>
        <% end %>
      </div>
      <h2>Neighbors' Requests</h2>
      <div class="request">
        <% @neighbor_help_requests.each do |neighbor_help_request| %>
          <p><%=  neighbor_help_request.spot_date.date %></p>
          <p><%=  neighbor_help_request.spot_date.collection_type %></p>
          <p><%=  neighbor_help_request.request_status %></p>
          <p><%=  neighbor_help_request.helper&.name %></p>
          <!-- "&"" will only show if only if the class is not nil -->
          <p>-----------------</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
