<div class="container">
  <h2>Edit Profile/Settings</h2>
  <%= simple_form_for(current_user, url: :settings) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
      <%= f.input :name,
                required: true,
                input_html: { autocomplete: "name" } %>
      <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>


    <label for="preferences">Choose an alert preference</label>
    <div data-controller="alert-preference"> 
      <%= f.input :evening_alert,  label: "night before", input_html: {value: current_user.evening_alert, "data-action": "change->alert-preference#toggle"} %>
            <div data-alert-preference-target="inputs" class="<%='d-none' unless current_user.evening_alert %>">
    <%= f.input :evening_alert_at,
                required: false,
                label: "at [HH:MM]",
                input_html: { autocomplete: "alert_1" } %>
                </div>
                </div>
 <div data-controller="alert-preference"> 
      <%= f.input :morning_alert, label: "morning", input_html: {value: current_user.morning_alert, "data-action": "change->alert-preference#toggle"} %>
            <div data-alert-preference-target="inputs" class="<%='d-none' unless current_user.morning_alert %>">
    <%= f.input :morning_alert_at,
                required: false,
                label: "at [HH:MM]",
                input_html: { autocomplete: "alert_1", value: 0 } %>
                </div>
                </div>

  </div>
  </div>

    <div class="form-actions">
      <%= f.button :submit, "Cancel" %>
      <%= f.submit "Save" %>
    </div>
    <div class="Privacy-policy">
      <p>By signing up to create an account I accept Company’s Terms of Use and Privacy Policy.</p>
      <p><string>Copyright 2024 Garbage Genius.  All rights reserved</p>
      </strong>
    <% end %>
  </div>
</div>
