<p style="color: green"><%= notice %></p>

<%= render @spot_date %>

<div>
  <%= link_to "Edit this spot date", edit_spot_date_path(@spot_date) %> |
  <%= link_to "Back to spot dates", spot_dates_path %>

  <%= button_to "Destroy this spot date", @spot_date, method: :delete %>
</div>
