<p style="color: green"><%= notice %></p>

<%= render @spot_visit %>

<div>
  <%= link_to "Edit this spot visit", edit_spot_visit_path(@spot_visit) %> |
  <%= link_to "Back to spot visits", spot_visits_path %>

  <%= button_to "Destroy this spot visit", @spot_visit, method: :delete %>
</div>
