<!DOCTYPE html>
<html>
  <head>
    <title>GarbageGenuis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if current_page?(root_path) %>
      <%= render 'layouts/navbar_home' %>
    <% elsif current_page?(dash_path)  %>
    <%= render 'layouts/navbar_dash' %>
    <% else %>
      <%= render 'layouts/navbar_other' %>
    <% end %>
    <%= yield %>
  </body>
</html>
